@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    <style>
        .layui-form-checkbox[lay-skin=primary] span {
            padding-left: 18px;
        }

        .layui-table-cell {
            height: auto;
            overflow: visible;
            text-overflow: inherit;
            white-space: normal;
        }

        .layui-table td, .layui-table th {
            min-width: 60px;
        }

        .layui-textarea {
            min-height: 80px;
        }
    </style>
    <link href="~/Content/lib/formSelects/formSelects-v4.css" rel="stylesheet" />
    <link href="~/Content/lib/zTree_v3/css/metroStyle/metroStyle.css" rel="stylesheet" />
}
<script src="~/Content/lib/zTree_v3/js/jquery.ztree.all.min.js"></script>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">

            <div class="layui-tab layui-tab-card" lay-filter="usertab">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="0">用户登录信息</li>
                    <li lay-id="1">用户基本信息</li>
                    <li lay-id="2">其它信息</li>
                    <li lay-id="3">教育经历</li>
                    <li lay-id="4">工作经历</li>
                </ul>
                <div class="layui-tab-content" style="height: 420px;width:650px;">
                    <!--登录信息-->
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form-item">
                            <label for="Username" class="layui-form-label">
                                <span class="x-red">*</span>用户名
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="Username" name="Username" lay-verify="required|Username"
                                       autocomplete="off" class="layui-input" value="@Model.Username">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                一般不要超过20个字符
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label for="Usercode" class="layui-form-label">
                                <span class="x-red">*</span>用户代码
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="Usercode" name="Usercode" readonly lay-verify="required"
                                       autocomplete="off" class="layui-input" value="@Model.Usercode">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                标识唯一用户
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label for="Realname" class="layui-form-label">
                                <span class="x-red">*</span>真实姓名
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="Realname" name="Realname" lay-verify="required"
                                       autocomplete="off" class="layui-input" value="@ViewBag.Realname">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                用户真实名称
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label for="Userpwd" class="layui-form-label">
                                <span class="x-red">*</span>密码
                            </label>
                            <div class="layui-input-inline">
                                <input type="password" id="Userpwd" name="Userpwd" lay-verify="password"
                                       autocomplete="off" class="layui-input" value="@Model.Userpwd">

                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                用户登录密码
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label for="Rolenames" class="layui-form-label">
                                <span class="x-red">*</span>角色名称
                            </label>
                            <div class="layui-input-block">
                                <input type="text" id="Rolenames" name="Rolenames" lay-verify="required"
                                       autocomplete="off" class="layui-input" value="@Model.Rolenames" readonly style="width:420px;display:inline-block;">
                                <input type="hidden" name="userroles" id="userroles" value="@ViewBag.RoleCode" />
                                <button type="button" class="layui-btn layui-btn-radius" id="rolemenu">选择角色</button>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label for="Orgnames" class="layui-form-label">
                                <span class="x-red">*</span>组织机构
                            </label>
                            <div class="layui-input-block">
                                <input type="text" id="Orgnames" name="Orgnames" lay-verify="required"
                                       autocomplete="off" class="layui-input" style="width:420px;display:inline-block;" readonly value="@Model.Orgnames">
                                <input type="hidden" name="userorgs" id="userorgs" value="@ViewBag.OrgCode" />
                                <button type="button" class="layui-btn layui-btn-radius" id="orgmenu">选择机构</button>
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label for="Jobcode" class="layui-form-label">
                                    职务
                                </label>
                                <div class="layui-input-inline">
                                    <select name="Jobcode" id="Jobcode">
                                        @if (ViewBag.ZwList != null)
                                        {
                                            foreach (var item in ViewBag.ZwList)
                                            {
                                                if (Model.Jobcode == item.Dcode)
                                                {
                                                    <option value="@item.Dcode" selected>@item.Dname</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Dcode" >@item.Dname</option>
                                                }
                                            }

                                        }
                                    </select>
                                   
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label for="Positions" class="layui-form-label">
                                    职级
                                </label>
                                <div class="layui-input-inline">
                                    <select name="Positions" id="Positions">
                                        @if (ViewBag.ZjList != null)
                                        {
                                            foreach (var item in ViewBag.ZjList)
                                            {
                                                if (Model.Positions == item.Dcode)
                                                {
                                                    <option value="@item.Dcode" selected>@item.Dname</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Dcode" >@item.Dname</option>
                                                }
                                            }

                                        }
                                        </select>
                                </div>
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <label for="isvisible" class="layui-form-label">
                                是否可用
                            </label>
                            <div class="layui-input-block">
                                <input type="radio" name="isenable" value="0" title="禁用" @(!Model.Isenable ? "checked" : "")>
                                <input type="radio" name="isenable" value="1" title="可用" @(Model.Isenable ? "checked" : "")>
                            </div>
                        </div>
                    </div>
                    <!--用户基本信息-->
                    <div class="layui-tab-item">
                        <div style="position:absolute;top:80px;left:460px;">
                            <button type="button" class="layui-btn" id="editimg">上传图片</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="userimg" onerror="this.src='~/Content/images/user.png'" src="@ViewBag.Photo">
                                <input type="hidden" name="photo" id="photo" value="@ViewBag.Photo" />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="political" class="layui-form-label">
                                政治面貌
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="political" name="political"
                                       autocomplete="off" class="layui-input" value="@ViewBag.Political">
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <label for="maritalstatus" class="layui-form-label">
                                婚姻状态
                            </label>
                            <div class="layui-inline">
                                <select name="maritalstatus">
                                    <option value="3" @(ViewBag.Maritalstatus == "3" ? "selected" : "")>未知</option>
                                    <option value="0" @(ViewBag.Maritalstatus == "0" ? "selected" : "")>未婚</option>
                                    <option value="1" @(ViewBag.Maritalstatus == "1" ? "selected" : "")>已婚</option>
                                    <option value="2" @(ViewBag.Maritalstatus == "2" ? "selected" : "")>离异</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label for="birthdate" class="layui-form-label">
                                出生日期
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" name="birthdate" id="birthdate" autocomplete="off" class="layui-input" value="@ViewBag.Birthdate">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label for="sex" class="layui-form-label">
                                性别
                            </label>
                            <div class="layui-input-block">
                                <input type="radio" name="sex" value="0" title="男" @(ViewBag.Maritalstatus == "0" ? "checked" : "") />
                                <input type="radio" name="sex" value="1" title="女" @(ViewBag.Maritalstatus == "1" ? "checked" : "") .>
                                <input type="radio" name="sex" value="2" title="未知" @(ViewBag.Maritalstatus == "2" ? "checked" : "") .>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label for="nation" class="layui-form-label">
                                    民族
                                </label>
                                <div class="layui-input-inline">
                                    <input type="text" name="nation" id="nation" autocomplete="off" class="layui-input" value="@ViewBag.Nation">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label for="placeorigin" class="layui-form-label">
                                    籍贯
                                </label>
                                <div class="layui-input-inline">
                                    <input type="text" name="placeorigin" id="placeorigin" autocomplete="off" class="layui-input" value="@ViewBag.Placeorigin">
                                </div>
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label for="education" class="layui-form-label">
                                    学历
                                </label>
                                <div class="layui-input-inline">
                                    <input type="text" name="education" id="education" autocomplete="off" class="layui-input" value="@ViewBag.Placeorigin">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label for="telephone" class="layui-form-label">
                                    电话
                                </label>
                                <div class="layui-input-inline">
                                    <input type="text" name="telephone" id="telephone" autocomplete="off" class="layui-input" value="@ViewBag.Telephone">
                                </div>
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label for="university" class="layui-form-label">
                                    毕业院校
                                </label>
                                <div class="layui-input-inline">
                                    <input type="text" name="university" id="university" autocomplete="off" class="layui-input" value="@ViewBag.University">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label for="specialty" class="layui-form-label">
                                    专业
                                </label>
                                <div class="layui-input-inline">
                                    <input type="text" name="specialty" id="specialty" autocomplete="off" class="layui-input" value="@ViewBag.Specialty">
                                </div>
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <label for="presentaddress" class="layui-form-label">
                                现住址
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="presentaddress" id="presentaddress" autocomplete="off" class="layui-input" value="@ViewBag.Presentaddress">
                            </div>

                        </div>


                    </div>
                    <!--其它信息-->
                    <div class="layui-tab-item">
                        <div class="layui-form-item">
                            <label for="email" class="layui-form-label">
                                电子邮箱
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="email" id="email" autocomplete="off" class="layui-input" value="@ViewBag.Email">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="hobby" class="layui-form-label">
                                爱好
                            </label>
                            <div class="layui-input-block">
                                <textarea class="layui-textarea" name="hobby" id="hobby">@ViewBag.Hobby</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="perspecialty" class="layui-form-label">
                                个人特长
                            </label>
                            <div class="layui-input-block">
                                <textarea class="layui-textarea" name="perspecialty" id="perspecialty">@ViewBag.Perspecialty</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="comprehensive" class="layui-form-label">
                                综合技能
                            </label>
                            <div class="layui-input-block">
                                <textarea class="layui-textarea" name="comprehensive" id="comprehensive">@ViewBag.Comprehensive</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="selfevaluation" class="layui-form-label">
                                自我评价
                            </label>
                            <div class="layui-input-block">
                                <textarea class="layui-textarea" name="selfevaluation" id="selfevaluation">@ViewBag.Selfevaluation</textarea>
                            </div>
                        </div>
                    </div>
                    <!--教育经历-->
                    <div class="layui-tab-item">
                        <button type="button" class="layui-btn" id="DutyStu">添加学习经历</button>
                        <table class="layui-table" id="tablestu">
                            <thead>
                                <tr>
                                    <th>起止年月</th>
                                    <th>内容</th>
                                    <th>专业课程</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!--工作经历-->
                    <div class="layui-tab-item">
                        <button type="button" class="layui-btn" id="DutyWork">添加工作经历</button>
                        <table class="layui-table" id="tablework">
                            <thead>
                                <tr>
                                    <th>起止年月</th>
                                    <th>内容</th>
                                    <th>主要职责</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <button class="layui-btn" lay-filter="add" lay-submit="">
                保存
            </button>
            <input type="hidden" value="@Model.Id" name="Id" />
        </form>
    </div>
</div>
<input type="hidden" id="stusuccess" />
<input type="hidden" id="worksuccess" />
<div id="menuContent" class="menuContent" style="display:none; position: absolute; background:#ffffff;">
    <ul id="treerole" class="ztree" style="margin-top:0; width:410px; height: 150px;overflow-y:auto;"></ul>
</div>
<div id="menuContentorg" class="menuContent" style="display:none; position: absolute; background:#ffffff;">
    <ul id="treeorg" class="ztree" style="margin-top:0; width:410px; height: 150px;overflow-y:auto;"></ul>
</div>
<script>
    layui.config({
        base: '/Content/lib/'
    }).extend({
        formSelects: 'formSelects/formSelects-v4',
        croppers: 'cropper/croppers'
    }).use(['element','form', 'layer','formSelects','croppers'], function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer,
            croppers = layui.croppers;
        var formSelects = layui.formSelects;


        //自定义验证规则
        form.verify({
            Username: function (value) {
                if (lscom.strlength(value) > 20) {
                    return '超过20个字符限制';
                } else {
                    var msg = '';
                    $.ajax({
                        url: '/System/User/ExistsUserName',
                        type: 'post',
                        async: false,
                        dataType:'json',
                        data: { userName: value,id:'@Model.Id' },
                        success: function (data) {
                            if (data.code != 0) {
                                msg = data.msg;
                            }
                        }
                    });
                    return msg;
                }
            },
            password: function (value) {
                if ('@Model.Id'=='0' && !/^[\S]{6,12}$/.test(value)) {
                    return '密码必须6到12位，且不能出现空格';
                }
            }
        });
        formSelects.data('selectrole', 'server', {
            type: 'get',
            searchUrl: '/System/Role/GetAllRoleCondition',
            delay: 500,
            searchName: 'keyword',
            searchType: "title",
            success: function (id, url, searchVal, result) {
                formSelects.value('selectrole', [@Html.Raw(ViewBag.OrgRoleList)]);
            }
        });
         //创建一个头像上传组件
        croppers.render({
             elem: '#editimg'
            ,saveW:120     //保存宽度
            ,saveH:140
            ,mark:3/4    //选取比例
            ,area:'600px'  //弹窗宽度
            ,url: "/Upload/UploadHeadImg"
            ,done: function (data) { //上传完毕回调
                console.log(data);
                if (data.code == 0) {
                    $("#photo").val(data.url);
                    $("#userimg").attr('src', data.url);
                } else {
                    layer.msg(data.msg);
                }
            }
        });

        lscom.Ajax({
            url: '/System/Role/GetTreeAllRole',
            method: 'get',
            data: { rolecode: '@ViewBag.RoleCode' },
            success: function (result) {
                lscom.TreeCheckBox({
                    Nodes: result.data,
                    treeControl: "treerole",
                    triggerControl: "rolemenu",
                    menuContent: "menuContent",
                    displayControl: "Rolenames",
                    onCheck: function (e, treeId, treeNode) {
                        var zTree = $.fn.zTree.getZTreeObj(treeId),
                            nodes = zTree.getCheckedNodes(true),
                            v = "", code = "";
                        for (var i = 0, l = nodes.length; i < l; i++) {
                            v += nodes[i].name + ",";
                            code += nodes[i].id + ",";
                        }
                        if (v.length > 0) {
                            v = v.substring(0, v.length - 1);
                            code = code.substring(0, code.length - 1);
                        }
                        $("#Rolenames").val(v);
                        $("#userroles").val(code);
                    }

                });
            }
        });


        lscom.Ajax({
            url: '/System/Organize/GetAllTreeOrganize',
            method: 'get',
            data: { orgcode: '@ViewBag.OrgCode' },
              success: function (result) {
                  lscom.TreeCheckBox({
                      Nodes: result.data,
                      treeControl: "treeorg",
                      triggerControl: "orgmenu",
                      menuContent: "menuContentorg",
                      displayControl: "Orgnames",
                      onCheck: function (e, treeId, treeNode) {
                          var zTree = $.fn.zTree.getZTreeObj(treeId),
                              nodes = zTree.getCheckedNodes(true),
                              v = "", code = "";
                          for (var i = 0, l = nodes.length; i < l; i++) {
                              v += nodes[i].name + ",";
                              code += nodes[i].code + ",";
                          }
                          if (v.length > 0) {
                              v = v.substring(0, v.length - 1);
                              code = code.substring(0, code.length - 1);
                          }
                          $("#Orgnames").val(v);
                          $("#userorgs").val(code);
                      }
                  });
              }
        });


        element.on('tab(usertab)', function () {
            if (this.getAttribute('lay-id') == 3 &&  $("#stusuccess").val()!="1") {
                lscom.Ajax({
                    url: '/System/User/GetUserResume',
                    method: 'get',
                    data: { userCode: '@Model.Usercode' },
                    success: function (result) {
                        var htmlstu = '';
                        if (result.data.length > 0) {
                            $.each(result.data, function (k, v) {
                                if (v.Retype == 0) {
                                     htmlstu += '<tr>'
                                    + '<td><input type="text" name="BeginEndYearStu"  lay-verify="required" autocomplete="off" value="'+v.Beginendyear+'" class="layui-input"></td>'
                                    + '<td><textarea class="layui-textarea" name="ContentStu" lay-verify="required" >'+v.Content+'</textarea></td>'
                                    + '<td><textarea class="layui-textarea" name="MajorDutyStu"  lay-verify="required">'+v.Majorduty+'</textarea></td>'
                                    + '<td><i class="layui-icon layui-icon-delete" onclick="deltabletr(this)"></i></td>'
                                    + '</tr>';
                                }
                            });
                        }
                        $("#stusuccess").val("1");

                        $("#tablestu tbody").append(htmlstu);
                    }
                });
            } else if (this.getAttribute('lay-id') == 4 &&  $("#worksuccess").val()!="1") {
                lscom.Ajax({
                    url: '/System/User/GetUserResume',
                    method: 'get',
                    data: { userCode: '@Model.Usercode' },
                    success: function (result) {
                        var htmlwork = '';
                        if (result.data.length > 0) {
                            $.each(result.data, function (k, v) {
                                if (v.Retype == 1) {
                                      htmlwork += '<tr>'
                                    + '<td> <input type="text" name="BeginEndYearWork"  lay-verify="required" autocomplete="off"  value="'+v.Beginendyear+'" class="layui-input"></td>'
                                    + '<td><textarea class="layui-textarea" name="ContentWork" lay-verify="required" >'+v.Content+'</textarea></td>'
                                    + '<td><textarea class="layui-textarea" name="MajorDutyWork"  lay-verify="required">'+v.Majorduty+'</textarea></td>'
                                    + '<td><i class="layui-icon layui-icon-delete" onclick="deltabletr(this)"></i></td>'
                                    + '</tr>';
                                }

                            });
                        }

                        $("#worksuccess").val("1");
                        $("#tablework tbody").append(htmlwork);
                    }
                });
            }
        });
        //监听提交
        form.on('submit(add)',
            function (data) {
                lscom.Ajax({
                    url: "/User/SaveUser",
                    data: $(data.form).serialize()+"&jobName="+$("#Jobcode").find("option:selected").text()+"&positName="+$("#Positions").find("option:selected").text(),
                    success: function (data) {
                        lscom.successCallback(layer,data,true);
                    }
                });
                return false;
            });

    });

    $("#DutyStu").on("click", function () {
        var htmlstu = '<tr>'
            + '<td> <input type="text" name="BeginEndYearStu"  lay-verify="required" autocomplete="off" class="layui-input"></td>'
            + '<td><textarea class="layui-textarea" name="ContentStu" lay-verify="required" ></textarea></td>'
            + '<td><textarea class="layui-textarea" name="MajorDutyStu"  lay-verify="required"></textarea></td>'
            + '<td><i class="layui-icon layui-icon-delete" onclick="deltabletr(this)"></i></td>'
            + '</tr>';

        $("#tablestu tbody").append(htmlstu);

    });
    $("#DutyWork").on("click", function () {
        var htmlwork = '<tr>'
            + '<td> <input type="text" name="BeginEndYearWork"  lay-verify="required" autocomplete="off" class="layui-input"></td>'
            + '<td><textarea class="layui-textarea" name="ContentWork" lay-verify="required" ></textarea></td>'
            + '<td><textarea class="layui-textarea" name="MajorDutyWork"  lay-verify="required"></textarea></td>'
            + '<td><i class="layui-icon layui-icon-delete" onclick="deltabletr(this)"></i></td>'
            + '</tr>';

        $("#tablework tbody").append(htmlwork);

    });



function deltabletr(obj){
      $(obj).parents("tr").remove();
    }


</script>
